
.qviews_form #table_options .form-item {
  display:inline;
}
.qviews_form .form-item input {
  font-size:11px;
}

.qviews_callback_help {
  background:#f8f8d0;
  border:1px solid silver;
  padding:2px;
  font-size:10px;
  line-height:normal;
}
.faux-link {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}
.qviews_input_div {
  margin-bottom:15px;
}
.active_order {
  text-decoration:underline;
}
.pointer {
  cursor:pointer;
}
.datepicker {
  line-height:normal;
  font-size:10px;
}
.datepicker td, .datepicker th {
  padding:2px;
  font-size:10px;
}
.qviews-loading {
  width:173px;
  height:41px;
  background:url('images/loading.gif');
  position:absolute;
  display:none;
}
.ord-icon {
  height:16px;
  width:9px;
  cursor:pointer;
  padding:2px;
  padding-right:1px;
}
.asc-on {
  background:url('images/asc-on.gif') no-repeat center;
}
.asc-off {
  background:url('images/asc-off.gif') no-repeat center;
}
.desc-on {
  background:url('images/desc-on.gif') no-repeat center;
  padding-left:2px;
  margin-right:10px;
}
.desc-off {
  background:url('images/desc-off.gif') no-repeat center;
  padding-left:2px;
  margin-right:10px;
}
.qviews-filter-row .form-item {
  display:inline;
  padding-right:10px;
}
.qviews-filter-row {
  padding-bottom:5px;
}
.hasDatepicker {
  background-image:url('images/calendar.gif');
  background-repeat:no-repeat;
  background-position:left;
  padding-left:20px;
}

.custom-col-table {
  vertical-align:top;
  margin:0px;
  padding:0px;
}
.custom-col-table td {
  border-bottom:1px solid #e3e3e3;
  vertical-align:top;
}
.custom-col-table tbody {
  border:0px;
}
.qviews-filter-row {
  padding:4px;
}

.qviews-top-link {
  float:right;
  margin-top:-10px;
  text-align:right;
}
.qviews-success {
  font-weight:bold;
  background:#68c734;
  color:white;
  font-style:italic;
  padding:10px;
  border:1px solid #3a7f14;
}
.qviews-compact td, .qviews-compact th {
  padding:2px;
  line-height:normal;
}
.qviews-compact .ord-icon {
  height:10px;
  margin-right:1px;
}
.qviews-compact .desc-off, .qviews-compact .desc-on {
  margin-right:5px;
}
.qviews-compact, .qviews-compact textarea, .qviews-compact input, .qviews-compact select, .qviews-compact td, .qviews-compact th {
  font-size:11px;
}
.qviews-compact .qviews-filter-row {
  display:inline;
  padding-right:15px;
}
.qviews-compact .qviews-filters {
  text-align:center;
}
.qviews-description {
  font-size:0.85em;
  font-family:Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}